*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #69a589;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6;
}

::selection {
  background-color: #403c2b;
}

.wrapper {
  margin: 20rem 0;
  /* display: grid;
  grid-template-columns:
    [nav-start] minmax(8rem, 20%) [nav-end] repeat(
      2,
      [content-start] minmax(30rem, 1fr)
    )
    [content-end];
  grid-template-rows: 1fr;
  grid-column-gap: 3rem; */
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
}

.nav__list {
  list-style: none;
  color: #a69b9b;
}

.nav__item {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.content {
  margin: 0 auto;
  /* display: flex; */
  /* flex-direction: row; */
}

.img-container {
  margin-bottom: 5rem;
}

.text-container {
}

.heading--1 {
  color: #f8b9b9;
  font-size: 5rem;
  font-weight: 700;
}

.text__detail {
  color: #69a589;
}

.text__name {
  color: #f0ad7a;
}

.footer {
  color: #a69b9b;
  margin-top: 1rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #a69b9b;
  transition: all 0.2s;
}

a:hover span {
  border-bottom: 1px solid #f08b8b;
}

/* row {
  margin-top: 80px;
  max-width: 960px;
} */

.col-1-of-2 {
  margin-top: 80px;
  float: left;
  width: 400px;
}
.img-container {
  max-width: 360px;
}
